.timeline {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  padding-top: 24px;
  height: fit-content;
  overflow: hidden;
  font-size: 12px;

  .option-icon {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    font-size: 16px;
    cursor: pointer;
  }

  .option-list {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    width: 60px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    backdrop-filter: blur(4px);

    > div {
      transition: 0.25s ease-in-out;
    }
  }

  .container {
    width: 100%;
    overflow-x: auto;

    > div {
      width: max-content;

      .date-items-container {
        display: flex;

        .unit-item {
          box-sizing: border-box;
          padding: 8px 0;

          &.date {
            width: 80px;

            > div {
              flex: none;
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              line-height: 16px;
            }

            > .week-day {
              font-weight: bold;
            }

            &.w-6, &.w-7 {
              filter: brightness(0.6) grayscale(0.6);
              opacity: 0.8;
            }
          }

          &.week {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 180px;
          }

          &.month {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: 240px;
          }
        }
      }

      .timeline-items-container {
        position: relative;

        .timeline-item {
          position: relative;
          padding: 4px 0;
          transition: 0.25s ease-in-out;

          .bar {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            width: 100%;
            height: 16px;
            border-radius: 50px;
            padding: 0 8px;
            font-size: 10px;
            font-weight: bolder;
            cursor: pointer;
            overflow: hidden;
            transition: 0.25s ease-in-out;

            &:hover {
              filter: brightness(1.4);
            }

            > div {
              width: 100%;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
            }
          }

          .timeline-info {
            position: fixed;
            min-width: 180px;
            width: max-content;
            height: 50px;
            padding: 8px;
            border-radius: 4px;
            z-index: 10;
            backdrop-filter: blur(4px);
            transition: 0.25s ease-in-out;

            .time-range {
              line-height: 12px;
            }

            .title {
              line-height: 12px;
              font-weight: bolder;
            }
          }
        }

        .now-line {
          position: absolute;
          top: 0;
          height: -webkit-fill-available;
          width: 1px;
          z-index: 0;
          transition: 0.25s ease-in-out;
        }
      }
    }
  }
}

.timeline {
  .option-list {
    background-color: #1d1f23dd;
    box-shadow: 0 0 4px 4px #914cda66;

    > div {
      &:hover {
        color: #fff;
      }
    }
  }

  .unit-item {
    &:not(:last-child) {
      border-right: 1px solid #aba0b0;
    }

    &:nth-child(odd) {
      background-color: #77669cc6;
    }

    &:nth-child(even) {
      background-color: #866BB2C6;
    }

    &.today {
      background-color: #cc6b6b;
    }
  }

  .bar {
    color: #2e2833;
    background-color: #aba0b0;
  }

  .timeline-info {
    background-color: #1d1f23dd;
  }

  .now-line {
    background: #cc6b6b;
  }
}
