.article {
    position: relative;
    width: calc(100% - 240px);
    height: max-content;
    min-height: 100%;
    box-sizing: border-box;
    padding: 0 20px 20px 0;

    .meta {
        position: sticky;
        top: 10px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 0;
        height: 10px;
        font-size: 18px;

        > .icon {
            cursor: pointer;
            z-index: 1;
            transition: 0.25s ease-in-out;
        }

        .popup {
            position: absolute;
            top: 6px;
            right: 0;
            width: 400px;
            max-height: 400px;
            height: fit-content;
            box-sizing: border-box;
            padding: 8px;
            border-radius: 8px;
            overflow: auto;

            &.no-detail {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 90px;
                user-select: none;

                .icon {
                    position: absolute;
                    justify-content: center;
                    align-items: center;
                    opacity: 0.2;

                    &:nth-child(1) {
                        font-size: 80px;
                        right: 40%;
                        transform: rotate(5deg);
                    }

                    &:nth-child(2) {
                        font-size: 60px;
                        left: 30%;
                        top: -10px;
                        transform: rotate(-35deg);
                    }
                }
            }

            .name-date {
                display: flex;
                gap: 8px;
                font-size: 16px;
            }

            .tags.container {
                display: flex;
                gap: 8px;
                flex-wrap: wrap;
                padding: 8px 0;
                font-size: 12px;

                .doc.tag {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: 4px 12px;
                    border-radius: 4px;
                    min-width: 40px;
                    width: fit-content;
                    cursor: pointer;
                    line-height: normal;
                    font-weight: bolder;
                    transition: 0.2s ease-in-out;
                }
            }
        }
    }
}
