.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 20px;

    &.s {
        font-size: 12px;
        padding: 4px;
    }

    &.m {
        font-size: 20px;
        padding: 4px 8px;
    }

    &.l {
        font-size: 28px;
        padding: 4px 12px;
    }

    &.border {
        border: 1px solid;
        border-radius: 4px;
        transition: 0.25s;
    }
}
