.doc-menu {
    position: sticky;
    top: 0;
    right: 0;
    height: 100%;
    width: 240px;
    box-sizing: border-box;
    padding: 4px 8px;
    border-left: 1px solid;
    font-size: 11px;


    > .item {
        padding: 4px 0;
        border-radius: 4px;
        line-height: 16px;
        cursor: pointer;
        transition: 0.15s;

        &.active, &:hover {
            font-weight: bolder;
        }

        @for $i from 1 through 6 {
            &.header-#{$i} {
                padding-left: ($i - 1) * 16px + 8px;
            }
        }
    }
}
