.full-screen-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(6px);

    &.collapsed {
        display: none;
    }
}
