.nav {
    position: sticky;
    top: 0;
    width: 100%;
    height: 48px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 8px;
    transition: 0.3s;

    .left {
        width: 300px;
        display: flex;
        align-items: center;

        .logo {
            display: flex;
            align-items: center;
            margin: 0 16px;
            width: 220px;
            height: 100%;
            font-size: 24px;
            background-position-y: center;
            background-repeat: no-repeat;
            background-size: contain;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    .center {
        width: 40%;
        height: 100%;
        padding: 8px 0;
        box-sizing: border-box;
    }

    .right {
        display: flex;
        justify-content: flex-end;
        gap: 16px;
        width: 300px;
        height: 100%;
        padding: 0 8px;

        .img-container {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 28px;
                opacity: 0.4;
                filter: grayscale(100%);
                transition: 0.25s ease-in-out;

                &:hover {
                    opacity: 1;
                    filter: grayscale(30%);
                }
            }
        }
    }
}
