.not-found {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100dvh - 80px);
    user-select: none;

    .message {
        position: absolute;
        top: 32%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;

        > div:nth-child(1) {
            font-size: 200px;
        }

        > div:nth-child(2) {
            position: absolute;
            bottom: -120px;
            font-size: 18px;
        }
    }

    .path {
        width: 80%;
        height: 80%;
        border-radius: 100%;
        z-index: 1;

        .cat {
            width: 180px;
            height: 100px;
            background-image: url('/images/astronaut-cat.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            filter: grayscale(60%);
            opacity: 100%;
            offset-path: border-box;
            transform-origin: center;
            animation: move 30s infinite linear;
        }
    }

    .background {
        position: absolute;
        left: -11%;
        bottom: -18%;
        font-size: 72vh;
        transform: rotate(3deg);
        z-index: 0;
    }
}

@keyframes move {
    0% {
        offset-distance: 0;
        transform: rotate(360deg);
    }
    100% {
        offset-distance: 100%;
        transform: rotate(0);
    }
}
