.search-result {
    display: flex;
    justify-content: center;
    width: 50dvw;
    height: 80%;
    box-sizing: border-box;
    padding: 40px 16px;
    border-radius: 8px;
    overflow: auto;

    > .container {
        display: flex;
        flex-flow: wrap;
        gap: 16px;
        justify-content: flex-start;
        align-content: flex-start;
        width: 90%;

        .result-card {
            position: relative;
            flex: none;
            box-sizing: border-box;
            width: calc(33.33% - 11px);
            height: 140px;
            padding: 8px;
            border-radius: 4px;
            text-wrap: normal;
            cursor: pointer;
            overflow: hidden;
            transition: 0.25s ease-in-out;

            > .name {
                font-size: 14px;
                font-weight: bolder;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            > hr {
                border: 1px solid;
            }

            > .path {
                font-size: 10px;
                line-height: 20px;
                overflow-wrap: anywhere;
            }

            > .icon {
                position: absolute;
                right: -20px;
                bottom: -36px;
                font-size: 100px;
                opacity: 0.15;
                transform: rotate(-20deg);
                user-select: none;
            }
        }
    }
}
