.search-bar {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 16px;

    .icon {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 24px;

    }

    input {
        width: calc(100% - 32px - 32px);
        padding: 0 0 0 8px;
        border: 0;
        font-size: 16px;
    }
}
