.side-menu {
    width: 300px;
    height: 100%;
    box-sizing: border-box;
    border-right: 1px solid;
    transition: 0.45s;

    &.collapse {
        width: 0;
    }

    > .container {
        width: 300px;
        height: 100%;
        box-sizing: border-box;
        padding: 8px 16px;
        text-wrap: nowrap;
        overflow: auto;

        > .item {
            display: flex;
            align-items: center;
            box-sizing: border-box;
            padding: 4px 0;
            border: 0;
            border-radius: 4px;
            margin: 4px 0;
            font-size: 14px;
            cursor: pointer;

            &:hover {
                font-weight: bolder;
            }

            &.active {
                font-style: italic;
            }

            @for $i from 1 through 100 {
                &.level-#{$i} {
                    padding-left: $i * 16px;
                }
            }

            > .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                font-size: 20px;
            }
        }
    }
}
