body {
    #root {
        // General
        .dark {
            * {
                &::-webkit-scrollbar-track {
                    background-color: #0000;
                }
                &::-webkit-scrollbar {
                    background-color: #9C78EA1f;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #55406b;
                }
                &::-webkit-scrollbar-corner {
                    background-color: #0000;
                }
            }
        }

        // MDX:
        .dark {
            background-color: #1d1f23;
            color: #ffffff88;

            blockquote {
                background-color: #2F2D3ADD;
                border-left-color: #444;
            }

            a {
                color: #42b883;

                &:hover {
                    color: #42b883;
                }
            }

            code:not(.hljs) {
                background-color: #ffffff22;
                color: #c977da;
            }

            strong {
                color: #ff6666;
            }

            li {
                &::marker {
                    font-weight: bolder;
                    color: #ffffffaf;
                }
            }

            table {
                color: #ffffffaa;

                * {
                    border: 1px solid #ffffff88;
                }
            }
        }

        // Component:
        .dark {
            .nav {
                background-color: #61567821;

                &:hover {
                    background-color: #9C78EA3A;

                    .menu-icon {
                        color: #9789b7;
                        border-color: #9789b7;

                        &:hover {
                            color: #fff;
                            background-color: #9C78EAC6;
                        }

                        &:active {
                            color: #a289de;
                            background-color: #2A1B4DC6;
                        }
                    }
                }

                .btn {
                    color: #444;

                    .border {
                        border-color: #444;
                    }
                }

                .search-bar {
                    background-color: #c3a1ff1a;

                    input {
                        background-color: #fff0;
                        color: #aba0b0;
                    }
                }
            }

            .side-menu {
                border-right-color: #3d384688;

                .item {
                    &:hover {
                        color: #ffffffaa;
                    }

                    &.active {
                        color: #914cda;
                    }

                    [data-is-dir="false"] {
                        color: #e1a436;
                    }
                }
            }

            .doc {
                background-color: #1d1f23;

                .article {
                    .meta {
                        > .icon {
                            color: #5da8e544;
                        }

                        &:hover {
                            > .icon {
                                color: #5da8e5;
                            }
                        }

                        .popup {
                            background-color: #1d1f23dd;
                            box-shadow: 0 0 8px 1px #5da8e544;

                            &.no-detail {
                                color: #759aba;
                            }

                            .tags.container {
                                .doc.tag {
                                    background-color: #553c89;
                                    color: #A89AEAD6;

                                    &:hover {
                                        background-color: #9C78EAD6;
                                        color: #30216DD6;
                                    }
                                }
                            }
                        }
                    }

                    .not-found {
                        .message {
                            > div:nth-child(1) {
                                color: #F48A6CC3;
                            }

                            > div:nth-child(2) {
                                color: #E3B57FDA;
                            }
                        }
                    }

                    .background {
                        color: #ABABAB44;
                    }
                }
            }

            .doc-menu {
                border-left-color: #3d384688;

                > .item {
                    color: #B7B7B799;

                    &.active {
                        color: #914cda;
                    }

                    &:hover {
                        color: #C494E6B5;
                        background-color: #9C78EA3A;
                    }
                }
            }

            .full-screen-popup {
                background-color: #43404687;

                .search-result {
                    background-color: #2D263AAA;

                    .result-card {
                        background-color: #55406baa;

                        hr {
                            border-color: #695979;
                        }

                        &:hover {
                            box-shadow: 0 0 4px 4px #CD9CFF44;
                        }
                    }
                }
            }
        }
    }
}
