* {
    &::-webkit-scrollbar {
        width: 6px;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
    }
    &:focus {
        outline: unset;
    }
}

.layout {
    position: relative;
    height: 100dvh;
    overflow: auto;
}
