.doc {
    > .article {
        * {
            line-height: 28px;
        }

        blockquote {
            padding: 4px 16px;
            border: 0;
            border-left: solid 8px;
            border-radius: 6px;
            margin: 8px 16px;
            min-height: 40px;
        }

        a {
            text-decoration: none;
            transition: 0.3s;

            &:hover {
                font-weight: bolder;
            }
        }

        code {
            padding: 4px;
            border-radius: 4px;
        }

        pre {
            padding: 0 16px;
        }

        table {
            border-collapse: collapse;

            th, td {
                padding: 0 8px;
            }
        }

    }
}
